{% extends 'main.html' %}

{% block content %}

<center>
        <h2>User Profile</h2>
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Username</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ request.user.first_name }}</td>
                <td>{{ request.user.last_name }}</td>
                <td>{{ request.user.email }}</td>
                <td>{{ request.user.username }}</td>
            </tr>
        </tbody>
    </table>
    
    <a href="{% url 'edit_profile' %}" class="btn update">Update Profile</a>
    <a href="{% url 'update_password' %}" class="btn password">Change Password</a>
    <a href="{% url 'logout_' %}" class="btn logout">Logout</a>

</center>

{% endblock content %}