{% extends 'main.html' %}

{% block content %}
<center>
    <div class="password-change-container">

    <h2>Change Password</h2>
    {% if messages %}
        {% for message in messages %}
            <p style="color: red;">{{ message }}</p>
        {% endfor %}
    {% endif %}
    <form method="POST" class="password-change-form">
        {% csrf_token %}
        
        <label>New Password:</label>
        <input type="password" name="password"  placeholder="enter new password" required><br>
        
        <button type="submit" class="btn password">Update Password</button>
    </form>
</center>
{% endblock content %}
