{% extends 'main.html' %}

{% block content %}
<br>
<div class="container">
    

    <!-- ✅ Sub Navigation -->
    <div class="sub category-buttons">
        <form action="" method="GET" class="nav-form">
            <input type="submit" name="t" value="Trending" class="nav-button">
        </form>
    
        <form action="" method="GET" class="nav-form">
            <input type="submit" name="offer" value="Offers" class="nav-button">
        </form>
    {% for i in cat %}
        <form action="" class="nav-form">
            <input type="submit" name="cat_form" value="{{i|upper}}" class="category-btn">
        </form>
        {% endfor %}
        <a href="{% url 'home' %}" class="category-btn all-products">All Products</a>
    </div>

    <!-- ✅ Product Grid -->
    <div class="product-container">
        {% for i in all_products %}
            <div class="product-card">
                {% if trend %}
                    <h4 style="color: red;">Trending</h4>
                {% endif %}

                {% if offer %}
                    <h4 style="color: green;">50% flat discount offer</h4>
                {% endif %}

                <img src="{{ i.p_images.url }}" alt="">
                <h2>{{ i.category }}</h2>
                <h2>{{ i.name }}</h2>
                <h2>{{ i.desc }}</h2>
                <h2>{{ i.price }}</h2>
                <div class="card-buttons">
                    <a href="{% url 'addtocart' i.id %}" class="btn-cart">Add to Cart</a>
                    <a href="{% url 'product_details' i.id %}" class="btn-details">Details</a>
                </div>
                

            </div>
        {% endfor %}
    </div>
    
</div>

    {% if messages %}
    <div class="container mt-3 ">
        {% for message in messages %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
            {{ message }}

            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" ></button>
        </div>
        {% endfor %}
    </div>
{% endif %}

{% endblock content %}
